/* ===== ПАНЕЛИ СКРОЛА ===== */
.scroll-pane {
    -fx-background: #333333;
    -fx-background-color: #333333;
    -fx-alignment: TOP_CENTER;
}
.scroll-pane .viewport{
     -fx-background-color: #333333;
 }
/* ===== РАЗДЕЛ РЕГИСТРАЦИИ ===== */
.login-title{
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}
.login-have-account {
    -fx-text-fill: #3498db;
    -fx-font-size: 13px;
    -fx-cursor: hand;
    -fx-underline: false;
}
.login-field {
    -fx-pref-width: 220px;
    -fx-max-width: 220px;
    -fx-pref-height: 30px;
    -fx-font-size: 13px;
}
.login-field-min {
    -fx-pref-width: 190px;
    -fx-max-width: 190px;
    -fx-pref-height: 30px;
    -fx-font-size: 13px;
}
.login-have-account:hover {
    -fx-underline: true;
}
.eye-button {
    -fx-background-color: -fx-color-primary;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
    -fx-padding: 0;
    -fx-cursor: hand;
}
.eye-button:hover {
    -fx-background-color: #2980b9;
}


/* ===== ОСНОВНЫЕ БЛОКИ ===== */
/* Заголовки разделов */
.stats-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}
/* Заголовок профиля (ник, описание, статус) */
.profile-header {
    -fx-spacing: 10px;
    -fx-alignment: CENTER;
}
/* Аватар пользователя */
.profile-avatar {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0, 0, 2);
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-background-color: transparent;
}


/* ===== СОЦ. СЕТИ ===== */
/* Кнопки социальных сетей */
.social-buttons {
    -fx-spacing: 10px;
    -fx-alignment: CENTER;
}
.social-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-padding: 6px 14px;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 4, 0, 0, 1);
}
.social-button:hover {
    -fx-background-color: #2980b9;
}


/* ===== ПОЛЬЗОВАТЕЛЬ ===== */
/* Ник пользователя */
.profile-username {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}
/* Описание пользователя */
.profile-bio {
    -fx-font-size: 14px;
    -fx-text-fill: #e0e0e0;
    -fx-wrap-text: true;
    -fx-max-width: 250px;
}
/* Статус пользователя */
.profile-status {
    -fx-font-size: 13px;
    -fx-text-fill: #e0e0e0;
}
/* Онлайн / Офлайн */
.profile-status.online {
    -fx-text-fill: #2ecc71; /* Зеленый */
}
.profile-status.offline {
    -fx-text-fill: #e74c3c; /* Красный */
}


/* ===== СТАТИСТИКА ===== */
/* Блок статистики */
.stats-section {
    -fx-pref-width: 265px;
    -fx-spacing: 10px;
    -fx-padding: 15px;
    -fx-background-color: #4A4A4A;
    -fx-background-radius: 8px;
}
/* Сетка статистики */
.stats-grid {
    -fx-hgap: 15px;
    -fx-vgap: 10px;
}





/* Лейблы заглушек */
.placeholder-text {
    -fx-text-fill: #999;
    -fx-font-size: 13px;
}
